<div class="alert alert-danger" role="alert" ng-show="errorMessage">{{errorMessage}}</div>
<div class="panel" ng-class="panelStyle">
    <!-- Default panel contents -->
    <div class="panel-heading">All Players in Game
        <span ng-show="game.isLost"> - Game over!</span>
    </div>

    <!-- Table -->
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Money</th>
        </tr>

        <tr ng-repeat="player in game.players">
            <td>{{player.name}}</td>
            <td>{{player.money}}</td>
        </tr>
    </table>
</div>

<button class="btn btn-primary" ng-hide="game.isLost" ng-click="newRound()">New Round</button>
<a type="button" class="btn btn-default" href="/">Back</a>